<div id="page-modal-dialog" class='modal fade' tabindex="-1" role="dialog" data-show="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class='modal-header'>
    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	    <h3 class="modal-title"><%= raw resource.title %></h3>
    	</div><!-- /.modal-header -->
    	<div class='modal-body'>
          <div class="copy-text"><%= raw resource.body %></div>
    	</div><!-- /.modal-body -->  
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
