<% if Rails.env.development? || site.preferred_google_map_api_key.present? %>
    <div id="map-canvas"></div>
    <% marker = local_assigns.has_key?(:point) ? point : "17.905198,-62.827539" %> <%# sbh %>
    <script type='text/javascript' src="http://maps.google.com/maps/api/js?key=<%= Rails.env.development? ? 'AIzaSyBV-l_UyG5vlBvMgtz5c9gg1PuKzSSBkUQ' : site.preferred_google_map_api_key %>&sensor=false"></script>
    
    <% content_for :after_javascript_libraries do -%>
      <%= javascript_tag do -%>
    		var map = null;

    		function initialize() {
    			var styles = [
    				{ stylers: [{ saturation: -100 }, { gamma: 1 }] },
    				{ elementType: "labels.text.stroke", stylers: [{ visibility: "off" }] },
    				{ featureType: "poi.business", elementType: "labels.text", stylers: [{ visibility: "off" }] },
    				{ featureType: "poi.business", elementType: "labels.icon", stylers: [{ visibility: "off" }] },
    				{ featureType: "poi.place_of_worship", elementType: "labels.text", stylers: [{ visibility: "off" }] },
    				{ featureType: "poi.place_of_worship", elementType: "labels.icon", stylers: [{ visibility: "off" }] },
    				{ featureType: "road", elementType: "geometry", stylers: [{ visibility: "simplified" }] },
    				{ featureType: "water", stylers: [{ visibility: "on" }, { saturation: 50 }, { gamma: 0 }, { hue: "#50a5d1" }] },
    				{ featureType: "administrative.neighborhood", elementType: "labels.text.fill", stylers: [{ color: "#333333" }] },
    				{ featureType: "road.local", elementType: "labels.text", stylers: [{ weight: 0.5 }, { color: "#333333" }] },
    				{ featureType: "transit.station", elementType: "labels.icon", stylers: [{ gamma: 1 }, { saturation: 50 }] }
    			];

    			var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});

    			var myOptions = {
    				disableDefaultUI: true,
    				zoomControl: true,
    				streetViewControl: true,
    				zoomControlOptions: {
    					style: google.maps.ZoomControlStyle.SMALL,
    					position: google.maps.ControlPosition.LEFT_TOP
    				},
    				mapTypeControlOptions: {
    					mapTypeId: [google.maps.MapTypeId.ROADMAP, 'map_style']
    				},
    				zoom: 17,
    				center: new google.maps.LatLng(17.898187,-62.849759),
    				mapTypeId: google.maps.MapTypeId.ROADMAP,
    				scrollwheel: false
    			}

    			var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
    			map.mapTypes.set('map_style', styledMap);
    			map.setMapTypeId('map_style');

    			var marker_1 = new google.maps.Marker({
            position: new google.maps.LatLng(17.897450, -62.849168),
            map: map
          });
      
          var content_1 = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">Buy your Ticket here</h1>'+
                '<div id="bodyContent">'+
                '<p>Buy your parking ticket for OSCARPARK in the shop TOM SHOP.<br/>Opened from 9am to 7pm</p>'+
                '</div>'+
                '</div>';
      
      
          var infowindow_1 = new google.maps.InfoWindow({
            content: content_1
          });
         
          var marker_2 = new google.maps.Marker({
            position: new google.maps.LatLng(17.896401, -62.847956),
            map: map
          });
      
          var content_2 = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">OscarPark</h1>'+
                '<div id="bodyContent">'+
                '<p>OSCARPARK : your very private parking in Gustavia (St.Barths)</p>'+
                '</div>'+
                '</div>';
      
      
          var infowindow_2 = new google.maps.InfoWindow({
            content: content_2
          });

          google.maps.event.addListener(marker_1, 'click', function() {
            infowindow_1.open(map,marker_1);
          });
          google.maps.event.addListener(marker_2, 'click', function() {
            infowindow_2.open(map,marker_2);
          });
    		}
    
    		$(document).ready(function(){
    			initialize();
    		});
    		<% end %>
    <% end %>
<% end %>