<% if Rails.env.development? || site.preferred_google_map_api_key.present? %>
    <div id="map-canvas"></div>
    <% marker = local_assigns.has_key?(:point) ? point : "17.905198,-62.827539" %> <%# sbh %>
    <script type='text/javascript' src="http://maps.google.com/maps/api/js?key=<%= Rails.env.development? ? 'AIzaSyBV-l_UyG5vlBvMgtz5c9gg1PuKzSSBkUQ' : site.preferred_google_map_api_key %>&sensor=false"></script>
<% end %>